Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  google-explicit-constructor,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -performance-enum-size,
  -readability-avoid-return-with-void-value,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -bugprone-switch-missing-default-case
