BasedOnStyle: WebKit

Language: Cpp
ColumnLimit: 100
Standard: Latest

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
BreakStringLiterals: true
FixNamespaceComments: true
IndentCaseLabels: true
IndentRequiresClause: false
InsertNewlineAtEOF: true
InsertBraces: true
LineEnding: LF
NamespaceIndentation: All
PointerAlignment: Right
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
